In [3]:
import mysql.connector
from tabulate import tabulate 
con = mysql.connector.connect(host = "localhost",user = "root", password = "karthik", database = "sm")
sm = con.cursor()

In [5]:
def customer_signin():               #-----------------customer details---------------------
    cus_name = input("Enter the customer name")
    cus_city = input("Enter the city name")
    cus_state = input("Enter the state name")
    qry = "insert into customer(name,city,state) values (%s,%s,%s)"
    value1 = (cus_name,cus_city,cus_state)
    sm.execute(qry,value1)
    con.commit()
    print("Customer data successfully inserted")

In [11]:
customer_signin()

Enter the customer name livin
Enter the city name chennai
Enter the state name tamilnadu

Customer data successfully inserted

In [13]:
def show_cus():
    qry = "select * from customer"
    sm.execute(qry)
    data = sm.fetchall()
    print(tabulate(data,headers= ["cus_name","cus_city","cus_state"]))
show_cus()

    cus_name    cus_city     cus_state
--  ----------  -----------  -------------
 1  karthik     chennai      tamilnadu
 2  gokul       kanchipuram  tamilnadu
 3  pavi        vilupuram    tamilnadu
 4  maddy       trl          tamilnadu
 5  jon         los vegas    united states
 6  khabib      daegestan    russia
 7
 8  livin       chennai      tamilnadu

In [19]:
def stock_entry():                 #-------------product details------------------
    product_name  = input("Enter the product name")
    qty = int(input("Enter the quantity"))
    price_per_qty = int(input("Enter the ppq"))
    qry = "insert into stock(product_name,qty,price_per_qty) values (%s,%s,%s)"
    value2 = (product_name,qty,price_per_qty)
    sm.execute(qry,value2)
    con.commit()
    print("stock entry successfully inserted")

In [29]:
stock_entry()

Enter the product name charger
Enter the quantity 43
Enter the ppq 1200

stock entry successfully inserted

In [23]:
def show_stock():
    qry = "select * from stock"
    sm.execute(qry)
    data2 = sm.fetchall()
    print(tabulate(data2,headers = ["product_name","qty","price_per_qty"]))
show_stock()

    product_name      qty    price_per_qty
--  --------------  -----  ---------------
 1  pen                50               10
 2  pencil             50                5
 3  laptop             40            50000
 4  vivo mobiles       40            25000
 5  charger            40             1200

In [15]:
def stock_update():                        # --------------stock update----------------
    product_id = int(input("Enter the product id to change quantity"))
    qty = int(input("Enter the quantity number"))
    qry = "update stock set qty = %s where product_id = %s"
    value3 = (qty,product_id)
    sm.execute(qry,value3)
    con.commit()
    print("Stock quantity updated")

In [21]:
stock_update()

Enter the product id to change quantity 3
Enter the quantity number 40

Stock quantity updated

In [25]:
def get_customer():
    c_id = []
    qry = "select * from customer"
    sm.execute(qry)
    data = sm.fetchall()
    for i in data:
        c_id.append(i[0])
    return c_id

get_customer()

[1, 2, 3, 4, 5, 6]

In [27]:
def get_product():
    p_id = []
    qry = "select * from stock"
    sm.execute(qry)
    data = sm.fetchall()
    for i in data:
        p_id.append(i[0])
    return p_id
get_product()

[1, 2, 3, 4, 5]

In [31]:
def check_quantity():                  #---------------Quantity check--------------------
    p_id = int(input("Enter the product id:"))
    qry = "select qty from stock where product_id = %s"
    value3 = (p_id,)
    sm.execute(qry,value3)
    data = sm.fetchall()
    return data[0][0]

In [33]:
check_quantity()

Enter the product id: 3

40

In [35]:
def check_product_name():
    p_id = int(input("Enter the product id to check name:"))
    qry = "select product_name from stock where product_id = %s"
    value4 = (p_id,)
    sm.execute(qry,value4)
    data = sm.fetchall()
    return data[0][0]

In [37]:
check_product_name()

Enter the product id to check name: 3

'laptop'

In [39]:
def new_order():                        #-----------------new order-------------------
    cu_id = int(input("Enter the customer id:"))
    p_id = int(input("Enter the product id:"))
    pr_name = check_product_name() 
    qty = int(input("Enter the quantity:"))
    ppq = int(input("Price per quantity"))
    total = qty*ppq
    qry = "insert into orders(cus_id,product_id,product_name,qty,price_per_qty,total) values(%s,%s,%s,%s,%s,%s)"
    value5 = (cu_id,p_id,pr_name,qty,ppq,total)
    sm.execute(qry,value5)
    con.commit()
    print("Order placed")

In [41]:
new_order()

Enter the customer id: 2
Enter the product id: 2
Enter the product id to check name: 2
Enter the quantity: 10
Price per quantity 5

Order placed

In [43]:
def show_order():                           #-----------------show order-------------------
    qry = "select * from orders"
    sm.execute(qry)
    data = sm.fetchall()
    print(tabulate(data,headers = ["cus_id","product_id","product_name","qty","price_per_qty","total price"]))
show_order()

      cus_id    product_id  product_name      qty    price_per_qty    total price
--  --------  ------------  --------------  -----  ---------------  -------------
 3         1             1  pen                 1                1              1
 4         1             4  vivo mobiles       15            25000         375000
 5         2             2  laptop              4            25000         100000
 6         4             5  charger            10             1200          12000
 7         1             2  pencil             30                5            150
 9         1             4  vivo mobiles       10            25000         250000
10         1             5  charger             3             1200           3600
11         2             2  pencil             10                5             50

In [45]:
def get_price():
    p_id = int(input("Enter the product id:"))
    qry = "select price_per_qty from orders where cus_id = %s"
    val5 = (p_id,)
    sm.execute(qry,val5)
    data = sm.fetchall()
    print(tabulate(data,headers = ["price_per_qty"]))

In [51]:
get_price()

Enter the product id: 4

  price_per_qty
---------------
           1200

In [53]:
def get_order():
    o_id=[]
    qry="select order_id from orders"
    sm.execute(qry)
    data=sm.fetchall()
    for i in data:
        o_id.append(i[0])
    return o_id

In [55]:
get_order()

[3, 4, 5, 6, 7, 9, 10, 11]

In [57]:
def cancel_order():
    od_id = int(input("Enter the order id to cancel the order:"))
    qry = "delete from orders where order_id = %s"
    val = (od_id,)
    sm.execute(qry,val)
    sm.fetchall()
    print("Order succesfully cancelled")

In [85]:
cancel_order()

Enter the order id to cancel the order: 2

Order succesfully cancelled

In [83]:
def e_com():
    customer_id = int(input("Enter the customer id:"))
    c_id = get_customer()
    if customer_id in c_id:
        ch = int(input("1.display 2.new order 3.cancel 4.customer details update"))
        if ch == 1:
            show_stock()
        elif ch == 2:
            show_stock()
            product_id = int(input("kindly enter the product id:"))
            quantity = int(input("Enter the quantity:"))
            print("check_quantity")
            current_qty = check_quantity()
            print("Total available quantity is:",current_qty)
            if current_qty == 0:
                print("Stock is not available")
            elif current_qty >= quantity:
                new_order()
                new_qty = current_qty - quantity
                print("now total quantity is:",new_qty)
                print("Right now update this below")
                stock_update()
            else:
                print("These are available stock ",check_quantity())
                ch = input("Type yes to continue no to exit").lower()
                if ch == "yes":
                    price = get_price()
                    new_order()
                    new_qty = current_qty - quantity
                    stock_update()
                else:
                    print("Thank you....")
        elif ch == 3:
            show_order()
            order_id = int(input("Enter the order id:"))
            or_id = get_order()
            if order_id in or_id:
                p_id = int(input("Enter the product id:"))
                current_qty = check_quantity()
                cancel_qty = get_order()
                cancel_qty = sum(cancel_qty)
                new_qty = current_qty + cancel_qty
                cancel_order()
                stock_update()
                print("cancel is finished")
        elif ch == 4:
            cus_id = int(input("Enter the customer id"))
            qry = "select * from customer where cus_id = %s"
            val = (cus_id,)
            sm.execute(qry,val)
            data = sm.fetchall()
            print(tabulate(data,headers = ["cus_id","name","city","state"]))
            ch = int(input("1.name 2.city 3.state"))
            if ch == 1:
                new_name = input("Enter the new name")
                qry = "update customer set name  = %s where cus_id = %s"
                values = (new_name,cus_id)
                sm.execute(qry,values)
                con.commit()
                print("Name updated succesfully")
            elif ch == 2:
                new_city = input("Enter the city name ")
                qry = "update customer set city  = %s where cus_id = %s"
                values = (new_city,cus_id)
                sm.execute(qry,values)
                con.commit()
                print("City updated succesfully")
            elif ch == 3:
                new_state = input("Enter the state name ")
                qry = "update customer set state  = %s where cus_id = %s"
                values = (new_state,cus_id)
                sm.execute(qry,values)
                con.commit()
                print("State updated succesfully")
    else:
        print("kindly check your customer id..There is no customer available in this id")

In [85]:
e_com()

Enter the customer id: 45

kindly check your customer id..There is no customer available in this id

In [272]:
show_cus()

    cus_name    cus_city     cus_state
--  ----------  -----------  -------------
 1  karthik     chennai      tamilnadu
 2  gokul       kanchipuram  tamilnadu
 3  pavi        vilupuram    tamilnadu
 4  maddy       trl          tamilnadu
 5  jon         los vegas    united states

In [274]:
show_order()

      cus_id    product_id  product_name      qty    price_per_qty    total price
--  --------  ------------  --------------  -----  ---------------  -------------
 3         1             1  pen                 1                1              1
 4         1             4  vivo mobiles       15            25000         375000
 5         2             2  laptop              4            25000         100000
 6         4             5  charger            10             1200          12000
 7         1             2  pencil             30                5            150
 9         1             4  vivo mobiles       10            25000         250000
10         1             5  charger             3             1200           3600

In [276]:
show_stock()

    product_name      qty    price_per_qty
--  --------------  -----  ---------------
 1  pen                20               10
 2  pencil             30                5
 3  laptop             35            50000
 4  vivo mobiles       40            25000
 5  charger            40             1200

In [65]:
def select_orders():
    qry="select*from orders"
    sm.execute(qry)
    dta=sm.fetchall()
    print(tabulate(dta,headers=["order_id","customer_id","product_id","product_name","quantity","price_per_quantity"]))

In [67]:
select_orders()

      order_id    customer_id  product_id      product_name    quantity    price_per_quantity
--  ----------  -------------  ------------  --------------  ----------  --------------------
 3           1              1  pen                        1           1                     1
 4           1              4  vivo mobiles              15       25000                375000
 5           2              2  laptop                     4       25000                100000
 6           4              5  charger                   10        1200                 12000
 7           1              2  pencil                    30           5                   150
 9           1              4  vivo mobiles              10       25000                250000
10           1              5  charger                    3        1200                  3600
11           2              2  pencil                    10           5                    50
12           1              5  charger                   10        1200                 12000